# Node.js dependencies
node_modules/

# Archivos compilados (Webpack, build)
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Entornos
.env
